# OS files
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Backend
Backend/target/
Backend/.mvn/wrapper/maven-wrapper.jar
Backend/.apt_generated
Backend/.classpath
Backend/.factorypath
Backend/.project
Backend/.settings
Backend/.springBeans
Backend/.sts4-cache

# Frontend
Frontend/node_modules/
Frontend/build/
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local
Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
